<h1><%= title %></h1>

<%- messages() %>

<form action="/login">
    <label for="email">Email Address:</label> 
    <br>
    <input type="email" id="account_email" name="account_email" required placeholder="Enter a valid email address">
    
    <br>
    <br>

    <label for="password">Password:</label>
    <br>
    <input type="password" id="account_password" name="account_password" 
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
    title="Password must be at least 12 characters, include one uppercase letter, one number, and one special character." required>
    
    <br>
    <br>
    <button type="submit" class="log-in">LOG IN</button>

    
    <p>No account? <a href="/account/register" class="sign-up">Sign up!</a></p>
</form>