<h1><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form class="blue-form" action="/account/register" method="post">
    <label for="accountFirstname">First Name:</label> 
    <br>
    <input type="text" name="account_firstname" id="accountFirstname" required>
    
    <br>
    <br>
    <label for="accountLastname">Last Name:</label> 
    <br>
    <input type="text" name="account_lastname"  id="accountLastname" required>
    
    <br>  
    <br>


    <label for="accountEmail">Email Address:</label> 
    <br>
    <input type="email" name="account_email" id="accountEmail" required>
    
    <br>
    <br>

    <label for="accountPassword">Password:</label>
    <br>
    <input type="password" name="account_password" id="accountPassword"
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
    <br>
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>

    
    <br>
    <br>
    <button type="submit" class="log-in">Register</button>

</form>

