/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* GLOBAL STYLES: DEFAULT/SMALL ***************/
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 1em;
    border: none;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    background-color: white;
    }

span.siteName {
    font-family: "Trebuchet MS", sans-serif; 
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
}

div#tools {
    float: right;
    padding: 10px;
    font-size: 20px;
    font-family: Tahoma, sans-serif; 
}

h1, h2, h3 {
  font-family: Georgia, serif;
}


/******* HOME PAGE: DEFAULT/SMALL ***************/
.hero h1 {
  font-size: 21px;
}

.hero img {
  display: block;
  margin: auto;
  width: 70%;
}

.dmc-delorean {
  font-size: 10px; 
  left: 10%;
  top: 23em;
  color: #008dc5;
  position: absolute;
  background: rgb(255 255 255 / 70%);
}

.own-today {
    background: #0099ff;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.part-two {
  display: inline-block;
}

.upgrade-box {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
}

.upgrade-item {
    background-color: #008dc5;
    border: 1px solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    flex-direction: column;
    margin: 20px;
}

.upgrade-item img {
    margin: 0 auto 5px;
}

.upgrade-item a {
    position: absolute;
    bottom: -25px;
}

/******* CLASSIFICATIONS PAGE: DEFAULT/SMALL ***************/
ul#inv-display {
    list-style-type: none;
    align-items: center;
}

/******* LOGIN PAGE: DEFAULT/SMALL ***************/
form {
    background-color: #008dc5;
    padding: 1em;
    border: 5px solid black;
}

.log-in {
    padding: 1px 3.2em;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: #000593;
    border-radius: 15px;
} 

.sign-up {
    color: black;
    font-weight: bold;
}






/******* GLOBAL STYLES: MEDIUM/LARGE ***************/
@media(min-width: 768px) 
{

body {
    padding: 20px;
    margin: 1em;
    border: 5px solid #008dc5;
}

/******HOME PAGE: MEDIUM/LARGE  ******/
.hero h1 {
  font-size: 32px;
}

.hero img {
  width: 50%
}

.part-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reviews {
  order: 2;
}

.dmc-delorean {
  font-size: 15px;
  left: 14%;
  top: 18em;
}

/******CLASSIFICATIONS PAGE: MEDIUM/LARGE ******/

ul#inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
}

