/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
      font-family: Arial, sans-serif; 
    }

h1, h2, h3 {
  font-family: Georgia, serif;
}

.dmc-delorean {
  color: #008dc5;
}

button {
    background: #0099ff;
    /* color: white; */
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}


.upgrades {
  display: grid;
  float: right;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
}

.upgrade-item {
  background-color: #008dc5; 
  border: 1px solid;
  border-color: black;
  display: flex; 
  justify-content: center;
  align-items: center;
}

/******* Smaller Screen ***************/
@media(min-width: 768px) {








}