​<% if (title) {%>
<h1><%= title %></h1>
<%} else {res.redirect('/')} %>
<%- messages() %>

<% if (errors) { %>
<ul class="message warning">
   <% errors.forEach(error => { %>
     <li><%= error.msg %></li>
   <%  }) %>
</ul>
<% } %>

<form class="blue-form" action="/inv/add-inventory" method="post">
  <label for="classificationList">Classification</label>
  <%- classificationSelect %>
<%#        <select id="cars" name="cars">
        <option value="1">Custom</option>
        <option value="2">Sport</option>
        <option value="3">SUV</option>
        <option value="4">Truck</option>
        <option value="5">Sedan</option>
    </select>
%>

  <label for="carMake">Make:</label>
    <input name="inv_make" id="carMake" type="text" minlength="3" placeholder="Min of 3 characters" required>
  <br>
  <label for="carModel">Model:</label>
    <input name="inv_model" id="carModel" type="text" minlength="3" placeholder="Min of 3 characters" required>
  <br>
  <label for="carYear">Year:</label>
    <input name="inv_year" id="carYear" type="number" min="1000" max="9999" placeholder= "4-digit year" required>
  <br>
  <label for="carDescription">Description:</label>
  <br>
  <br>
    <textarea name="inv_description" id="carDescription" required></textarea>
  <br>
  <label for="carImage">Image path:</label>
    <input name="inv_image" id="carImage" type="text" value="/images/vehicles/no-image.png" required>
  <br>
  <label for="carThumbnail">Thumbnail path:</label>
    <input name="inv_thumbnail" id="carThumbnail" type="text" value="/images/vehicles/no-image-tn.png" required>
  <br>
  <label for="carPrice">Price:</label>
    <input name="inv_price" id="carPrice" type="number" step="0.01" min="1" placeholder="decimal or integer numbers only" required>
  <br>
  <label for="carMiles">Miles:</label>
    <input name="inv_miles" id="carMiles" type="number" min="0" placeholder="digits only" required>
  <br>
  <label for="carColor">Color:</label>
    <input name="inv_color" id="carColor" type="text" required>
  <br>
  <button type="submit">Add Vehicle</button>
</form>