<%# Content Heading%>

<%- messages() %>

<div id="vehicle-detail-wrapper">
  <%- details %>
</div>

<div class="purchase-button-wrapper">
  <% if (inv_sold) { %>
    <button class="purchase-button-sold" disabled>SOLD</button>
  <% } else { %>
    <form action="/inv/checkout/<%= inv_id %>" method="get">
      <button type="submit" class="buy-button">BUY</button>
    </form>
  <% } %>
</div>